{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["markdown", "react", "babel", "jest", "@typescript-eslint", "react-hooks", "unicorn"]
}
